body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #073B3A;
    padding: 15px;
    border-radius: 0 0 20px 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin-top: 15px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.user-title {
    margin-left: 20px;
}



.logoutbtn {
    background-color: #073B3A;
    padding: 10px;
    font-size: 16px;
    border: 1px solid white;
    cursor: pointer;
} 



.logout {
    color: white;
    text-decoration: none;
}
